<div style="width: 100%; height: 100%; display: flex; flex-direction: column; overflow: hidden;">
  <div style="position: sticky;
    top: 0;
    z-index: 1000;">
    <mat-toolbar color="primary" style="position: fixed;">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
        <mat-icon *ngIf="drawer.opened">close</mat-icon>
      </button>
      <span style="flex: 1 1 auto;"></span>
      <div>Videómegosztó</div>
    </mat-toolbar>
  </div>
  <div style="flex: 1 1 auto;">
      <mat-sidenav-container style="width: 100%; height: 100%;">
        <mat-sidenav class="sidenav" #drawer mode="over" style="width: 75%; position: fixed; margin-top: 9vh;">
          <app-menu (pageClicked)="drawer.close()"></app-menu>
        </mat-sidenav>
        <mat-sidenav-content style="display: flex; flex-direction: column; width: 100%; height: 100%;">
          <mat-toolbar></mat-toolbar>
          <div style="flex: 1 1 auto; scroll-snap-type: y mandatory; overflow-y: scroll;">
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
  </div>
</div>

