<div style="width: 100%; height: 100%; max-width: 500px; margin: auto; display: flex; flex-direction: column; justify-content: center;">
  <mat-card style="margin: 5%; padding: 5% 0; flex: 1 1 auto; border: 1px solid rgba(0, 0, 0, 0.25);">
    <mat-card-title style="text-align: left; margin: 0 5% 5% 5%; font-size: 2em;">
      Regisztráció
    </mat-card-title>
    <mat-card-content style="margin: 0 5%; padding: 0 0;">
      <p style="font-size: 1em;">A regisztrációhoz, töltsd ki a mezőket.</p>
      <form [formGroup]="registerForm" style="display: flex; flex-direction: column; min-height: 50%; margin: 0 0; padding: 0 0;">
        <mat-form-field style="margin: 0 0; padding: 0 0;">
          <mat-label style="margin: 0 0; padding: 0 0;">Email cím</mat-label>
          <input matInput type="email" formControlName="email" style="margin: 0 0; padding: 0 0;  ">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field style="margin: 0 0; padding: 0 0;">
          <mat-label style="margin: 0 0; padding: 0 0;">Jelszó</mat-label>
          <input matInput type="password" formControlName="password1" placeholder="" style="margin: 0 0; padding: 0 0;">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <mat-form-field style="margin: 0 0; padding: 0 0;">
          <mat-label style="margin: 0 0; padding: 0 0;">Jelszó megerősítés</mat-label>
          <input matInput type="password" formControlName="password2" placeholder="" style="margin: 0 0; padding: 0 0;">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="margin-top: auto;">
      <div style="width: 100%; display: flex; flex-direction: column; margin: 0% 5% 0% 5%;">
        <button style="border-radius: 50px; font-size: 2em; padding: 10% 5%;" mat-raised-button color="primary" (click)="register()" [disabled]="!registerForm.valid">Regisztrálás</button>
        <button style="font-size: 1.5em; margin: 2.5% 0 0 0; padding: 5% 0 5% 0;" mat-button color="primary" [routerLink]="'/login'">Belépés</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
